1 --> Finding Missing Data
2 --> Removing Missing Data
3 --> Filling Missing Data

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# Finding missing Data

data = {
    'A' : [1,2,np.nan,4,5],
    'B' : [np.nan,2,3,4,5],
    'C' : [1,2,3,np.nan,np.nan],
    'D' : [1,np.nan,np.nan,np.nan,5]
}

df = pd.DataFrame(data)
df

     A    B    C    D
0  1.0  NaN  1.0  1.0
1  2.0  2.0  2.0  NaN
2  NaN  3.0  3.0  NaN
3  4.0  4.0  NaN  NaN
4  5.0  5.0  NaN  5.0

In [3]:
# Check is we have any null or nan values in dataframes
# use .isna()

df.isna()

       A      B      C      D
0  False   True  False  False
1  False  False  False   True
2   True  False  False   True
3  False  False   True   True
4  False  False   True  False